@import url("https://fonts.googleapis.com/css2?family=Delius&family=Shadows+Into+Light&display=swap");

.card {
  position: relative;
  box-shadow: 0 2px 4px 0 #2a2b2b;
  transition: 0.3s;
  width: 100%;
  /* height: fit-content; */
  cursor: pointer;
  background-color: darkgray;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0 #00fa9a;
}

/* Add some padding inside the card container */
.container {
  /* padding: 2px 16px; */
  position: absolute;
  bottom: 10%;
  left: 60%;
}

img {
  filter: grayscale(50%);
}

.release-date {
  font-size: 10px;
  border-radius: 50%;
  background-color: #00fa9a;
  height: auto;
  width: auto;
  position: absolute;
  padding: 2px;
  left: 75%;
  top: 5%;
  text-align: center;
}
p {
  color: white;
  font-family: "Delius", cursive;
}
.white-text {
  color: white;
  vertical-align: center;
}
.play-button {
  position: absolute;
  left: 40%;
  top: 45%;
}

img {
  height: 18rem;
  width: 100%;
}
